.upperArea {
    margin-top: 30px;
    margin-left: 15px;
    display: flex;
    justify-content:flex-start;
}

textarea {
    width: 60%;
    height: max-content;
    resize: vertical;
}

.contentSeparator {
    display: flex;
    width: 10%;
}
#wider {
    width: 23%;
}

.downerArea {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

::file-selector-button {
    background-color: var(--greyMain);
    cursor: pointer;
}

.createPostButton {
    margin: 10px 10% 0 25%;
    background-color: rgb(43, 43, 153);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.createPostButton:hover {
    background-color: #517ced;
}