.inputArea {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.inputArea > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
}

textarea {
    width: 50%;
    resize: vertical;
}

input[type=file] {
    display: none;
}

label[for=submittedFile] {
    display: block;
    cursor: pointer;
    background-color: var(--colorAccent);
    color: #fff;
    padding: .5rem;
    border: 1px solid #000;
}

label[for=submittedFile]:hover {
    background-color: var(--colorHeaderFooter);
    border-color: #fff;
}

.createPostButton {
    margin: 30px auto;
    background-color: var(--colorAccent);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.createPostButton:hover {
    background-color: var(--colorHeaderFooter);
}

@media (max-width: 800px) {
    .inputArea > div:nth-child(1) {
        flex-direction: column;
        align-items: flex-start;
    }
    textarea {
        width: 100%;
    }
}