header a + div {
    display: inline-block;
    font-size: 1.5rem;
    user-select: none;
}

main {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    color: #222;
}

.sideBlock {
    background-color: var(--greyMain);
}


.postHeader {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postHeader a ~ div {
    font-size: .9rem;
}

.userIcon {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    border-radius: 10px;
    background-image: url("../images/profile.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.author {
    display: flex;
    align-items: center;
}

.likeBtn {
    width: 30px;
    height: 25px;
    cursor: pointer;
    border: none;
    background-color: inherit;
    background-image: url("../images/like.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(1);
    transition: transform 0.1s;
}

.likeBtn:active {
    transform: scale(0.75);
}

footer {
    margin-top: 0.5rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--greyMain);
    font-size: .75rem;
    text-align: center;
}

.error {
    text-align: center;
    text-transform: uppercase;
    margin: 3rem 1rem;
    font-size: 2rem;
    color: #D8000C;
}

.loading {
    margin: 0 auto;
    width: 100%;
    height: 300px;
    background-image: url("../images/Loading_icon.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
